<div>
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a href="#">My Site</a></h1>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                <li ><a href="#/candidate/all">Show All</a></li>
                <li ><a href="#/candidate">Create</a></li>
                <li class="active"><a href="#/find_candidate_info">Find</a></li>
                <li ><a href="#">Modify</a></li>
                <li><a href="#">Delete</a></li>
            </ul>
        </section>
    </nav>

    <div id="pnl" class="panel callout radius">
        <h5>Welcome to the GLL Candidates Portal</h5>
        <p>{{welcome}}</p>
    </div>

    <div>
        <div class="large-12 columns text-center">
            <h2 class="center">Find A Candidate by ID</h2>
        </div>
        <form>
            <div class="row">
                <div class="large-12 columns">
                        <input type="text" placeholder="Enter ID" ng-model="userid" />
                </div>
            </div>

            <div class="row">
                <div class="large-3 columns">
                    <button class="button prefix" ng-click="findCandidate($event)">Submit</button>
                </div>
            </div>

        </form>
    </div>
</div>