<!DOCTYPE html>
<html ng-app="candidateApp">
  <head>
    <title>Candidates Portal</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/foundation/css/foundation.css"/>
    <link rel="stylesheet" href="/foundation-icon-fonts/foundation-icons.css"/>
    <script src="/jQuery/dist/jquery.js"></script>
    <script src="/foundation/js/foundation.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-route/angular-route.js"></script>
    <script>
        var candidateModule = angular.module('candidateApp', []);
        candidateModule.controller("CandidateCtrl" , function($scope){
            $scope.welcome = "It's a little ostentatious, but useful for important content. Lol.";
        });

          /*  candidateModule.controller("DummyCtrl", ['$scope', '$http', function($scope, $http){

            $http.get("http://localhost:3000/candidates").success(function(data){
                console.log(data);
            }).error(function(){
                console.log("Error!!");
            });

        }]);*/

        candidateModule.controller('CreateCandidateCtrl',['$scope','$http', function($scope,$http){

            $scope.email = "";
            $scope.fname = "";
            $scope.all_candidates = [];

            $scope.saveCandidate = function(event) {

                var obj = {
                    fname: $scope.fname,
                    email: $scope.email
                };
                $http.post('http://localhost:3000/candidates', obj).success(function (created_candidate) {
                    $scope.all_candidates.push(created_candidate);
                    // $scope.currentCandidate = {};
                });
            }
        }]);

        candidateModule.controller('GetAllCandidatesCtrl', ['$scope','$http' ,function($scope, $http){
            $scope.all_candidates = "";
            var url = 'http://localhost:3000/candidates';
            $http.get(url).success(function(data){
                console.log(data);
                $scope.all_candidates = data;
            }).error(function(){
                console.log("ERROR");
            });
        }]);
    </script>
  </head>
  <body ng-controller="CandidateCtrl">
  <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
          <li class="name">
              <h1><a href="#">My Site</a></h1>
          </li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
              <li ><a href="#">Show All</a></li>
              <li ><a href="#">Create</a></li>
              <li ><a href="#">Find</a></li>
              <li ><a href="#">Modify</a></li>
              <li><a href="#">Delete</a></li>
          </ul>
      </section>
  </nav>

  <div id="pnl" class="panel callout radius">
      <h5>Welcome to the GLL Candidates Portal</h5>
      <p>{{welcome}}</p>
  </div>

<div>
    <div class="large-12 columns text-center">
    <h2 class="center">Create An Entry</h2>
    </div>
  <form>
          <div class="row">
              <div class="large-12 columns">
                  <label>First Name
                      <input type="text" placeholder="First Name" ng-model="fname" />
                  </label>
              </div>
          </div>

          <div class="row">
              <div class="large-12 columns">
                  <label>Email
                      <input type="email" placeholder="Email" ng-model="email" />
                  </label>
              </div>
          </div>

          <div class="row">
              <div class="large-3 columns">
                  <a href="#" class="button prefix" ng-click="saveCandidate($event)">Submit</a>
              </div>
          </div>

  </form>
</div>


<div class="row" ng-controller="CreateCandidateCtrl">
<div class="large-12 columns">
      <table id="tbl">
          <thead>
          <tr>
              <th width="40"></th>
              <th width="250">ID</th>
              <th width="250">Name</th>
              <th width="350">Email</th>
              <th width="40"></th>
          </tr>
          </thead>
          <tbody  id="tbody" ng-repeat="candidate in all_candidates">
          <tr>
              <td><div><span><i class="fi-page-edit"></i></span></div></td>
              <td>{{candidate._id}}</td>
              <td>{{candidate.fname}}</td>
              <td>{{candidate.email}}</td>
              <td><div><span><i class="fi-x"></i></span></div></td>
          </tr>

          </tbody>
      </table>
  </div>
</div>

  <script src="foundation/js/vendor/jquery.js"></script>
  <script src="foundation/js/foundation.min.js"></script>
  <script>
      $(document).foundation();
  </script>
  </body>
</html>
