<!DOCTYPE html>
<html ng-app="candidateApp">
  <head>
    <title>Candidates Portal</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/foundation/css/foundation.css"/>
    <link rel="stylesheet" href="/foundation-icon-fonts/foundation-icons.css"/>
    <script src="/jQuery/dist/jquery.js"></script>
    <script src="/foundation/js/foundation.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-route/angular-route.js"></script>
    <script>
        var  candidateMainApp = angular.module('candidateApp', ['ngRoute','candidateCtrlApp']);
        candidateMainApp.config(['$routeProvider',function($routeProvider){
            $routeProvider.when('/',{
                templateUrl:'/landing.html',
                controller: 'CandidateCtrl'
            }).when('/candidate',{
                templateUrl:'/createCandidate.html',
                controller: 'CreateCandidateCtrl'
            }).when('/candidate/all',{
                templateUrl:'/showAllCandidates.html',
                controller:'GetAllCandidatesCtrl'
            }).when('/find',{
                templateUrl:'/find_candidate_info.html',
                controller:'FindCandidateCtrl'
            }).when('/candidate/:id',{
                templateUrl:'/candidate_info.html',
                controller:'GetCandidateCtrl'
            }).otherwise({
                redirectTo: '/'
            });
        }]);
    </script>
    <script>
        var candidateModule = angular.module('candidateCtrlApp', []);
        candidateModule.controller("CandidateCtrl" , function($scope){
            $scope.welcome = "It's a little ostentatious, but useful for important content. Lol.";
        });


        candidateModule.controller("FindCandidateCtrl", ['$scope', '$window', function($scope, $window){
            //console.log($routeParams);
           $scope.userid = '';

           $scope.findCandidate = function(event){
               console.log($scope.userid);
               console.log(event);
               event.preventDefault();
               if($scope.userid === ''){

               }else{
                    $window.location.href =  '#/candidate/'+$scope.userid;
               }


           }

        }]);

      candidateModule.controller("GetCandidateCtrl", ['$scope', '$http', '$routeParams', function($scope, $http, $routeParams){
                  console.log($routeParams);
                  var url = 'http://localhost:3000/candidates/'+$routeParams.id;
                  $scope.candidateObj = {};
            $http.get(url).success(function(data){
                console.log(data);
                if(data){
                    $scope.candidateObj = data;
                }
            }).error(function(){
                console.log("Error!!");
            });

        }]);

        candidateModule.controller('CreateCandidateCtrl',['$scope', 'candidateOps', function($scope,$http){

            $scope.email = "";
            $scope.fname = "";
            $scope.all_candidates = [];

            $scope.saveCandidate = function(event) {

                var obj = {
                    fname: $scope.fname,
                    email: $scope.email
                };

                candidateOps.createCandidate(obj).success(function (created_candidate) {
                    $scope.all_candidates.push(created_candidate);
                    // $scope.currentCandidate = {};
                });
            }
        }]);

        candidateModule.controller('GetAllCandidatesCtrl', ['$scope', 'candidateOps', function($scope, candidateOps ){
            $scope.all_candidates = "";
            //var url = 'http://localhost:3000/candidates/all';
            candidateOps.getAllCandidates().success(function(data){
                //console.log(data);
                $scope.all_candidates = data;
            }).error(function(){
                console.log("ERROR");
            });
        }]);


        candidateModule.factory('candidateOps',['$http', function($http){

            return {
                _candidate: {},
                setDetails: function(obj){
                    if(typeof obj._id === 'undefined'){

                    }
                    else{

                    }
                },

                createCandidate: function(obj){
                    return  $http.post('http://localhost:3000/candidates', obj);
                },

                updateCandidate: function(obj){

                },

                getAllCandidates: function(){
                    return $http.get('http://localhost:3000/candidates/all');
                },

                getCandidateById: function(id){

                },

                deleteCandidate: function(id){

                }
            }

        }]);
    </script>
  </head>
  <body> <!--ng-controller="CreateCandidateCtrl"-->
  <div ng-view>

  </div>
<!--  <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
          <li class="name">
              <h1><a href="#">My Site</a></h1>
          </li>
          &lt;!&ndash; Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone &ndash;&gt;
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
          &lt;!&ndash; Right Nav Section &ndash;&gt;
          <ul class="right">
              <li ><a href="#">Show All</a></li>
              <li ><a href="#">Create</a></li>
              <li ><a href="#">Find</a></li>
              <li ><a href="#">Modify</a></li>
              <li><a href="#">Delete</a></li>
          </ul>
      </section>
  </nav>

  <div id="pnl" class="panel callout radius">
      <h5>Welcome to the GLL Candidates Portal</h5>
      <p>{{welcome}}</p>
  </div>

    <div>
    <div class="large-12 columns text-center">
    <h2 class="center">Create An Entry</h2>
    </div>
  <form>
          <div class="row">
              <div class="large-12 columns">
                  <label>First Name
                      <input type="text" placeholder="First Name" ng-model="fname" />
                  </label>
              </div>
          </div>

          <div class="row">
              <div class="large-12 columns">
                  <label>Email
                      <input type="email" placeholder="Email" ng-model="email" />
                  </label>
              </div>
          </div>

          <div class="row">
              <div class="large-3 columns">
                  <a href="#" class="button prefix" ng-click="saveCandidate($event)">Submit</a>
              </div>
          </div>

  </form>
</div>


<div class="row">
<div class="small-6 large-12 columns">
      <table id="tbl">
          <thead>
          <tr>
              <th width="40"></th>
              <th width="250">ID</th>
              <th width="250">Name</th>
              <th width="350">Email</th>
              <th width="40"></th>
          </tr>
          </thead>
          <tbody  id="tbody" ng-repeat="candidate in all_candidates">
          <tr>
              <td><div><span><i class="fi-page-edit"></i></span></div></td>
              <td>{{candidate._id}}</td>
              <td>{{candidate.fname}}</td>
              <td>{{candidate.email}}</td>
              <td><div><span><i class="fi-x"></i></span></div></td>
          </tr>

          </tbody>
      </table>
  </div>
</div>-->

  <script src="foundation/js/vendor/jquery.js"></script>
  <script src="foundation/js/foundation.min.js"></script>
  <script>
      $(document).foundation();
  </script>
  </body>
</html>
